.Dao{
    width: 400px;
    height: 100%;
    overflow: hidden;
    text-align: center;
    .address{
		font-size: 15px;
	}
	input{
		margin: 0px 0 10px 0;
	}
	.Table{
		margin: 20px auto;
	}
	h3{
		font-size: 18px;
	}
	.tips{
		color: #fff;
		font-size: 12px;
		font-weight: normal;
		margin-top: 10px;
		span{
			vertical-align: middle;
		}
	}
}
