.transactionsTable{
    overflow: hidden;
    .button{
        margin-top: 20px;
        float: right;
        background: #00cc9b;
        border: #00cc9b 1px solid;
    }
    .actionButton{
        color: #fff;
        width: 100px;
    }
}
